<h1>Hallo!</h1>

<p>Um dein Passwort für die AlliPunkte-App zurückzusetzen, verwende bitte folgenden Link:</p>

<a href="{{ url('app_reset_password', {token: resetToken.token}) }}">{{ url('app_reset_password', {token: resetToken.token}) }}</a>

<p>Dieser Link ist nur für 1 Stunde gültig</p>

<p>Viele Grüße</p>

<p>Die PunkteApp</p>
